@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-cream: #f9f7f2;
  --color-charcoal: #1a1a1a;
}

@layer utilities {
    .grid-pattern {
        background-image: radial-gradient(rgba(19, 127, 236, 0.06) 1px, transparent 1px);
        background-size: 40px 40px;
    }
}
